USE [HireRocks_Dev]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 02/01/2016 15:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] NULL,
	[CustomerName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
