USE [HireRocks_Dev]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 02/01/2016 15:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[AttachmentName] [nvarchar](max) NULL
) ON [PRIMARY]
GO
