
@{
    Layout = "~/Views/Shared/_HomePageView.cshtml";
}
@using PS.HireRocks.Web.Helpers
@using PS.HireRocks.Model;
<section class="banner">
    <div id="particles-js"></div>
    <div class="bCaption">
        <div class="container effect">
            <h1 class="hire animated flipInX "> Hire the top 5% of tech talent </h1>
            <div class="subline lightSpeedIn animated delay-1s">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley.
            </div>
            <a href="#" class="btnRead"><span class="btnSpan">Read More</span></a>
        </div>
    </div>
</section>

<section class="work animated slideInDown">

    <div class="container bgwhite">
        <div class="row">
            <div class="col-xl-12 bgwhite ">
                <h2 class="text-center text-uppercase mt-5"> Work with someone Perfect for your team </h2>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/dev.png" alt="Web Developer"> </div>
                <div class="workTitle"> Web Developer </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/csa.png" alt="CUSTOMER SERVICE AGENTS"> </div>
                <div class="workTitle"> CUSTOMER SERVICE AGENTS </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/designer.png" alt="DESIGNERS AND CREATIVES"> </div>
                <div class="workTitle"> DESIGNERS AND CREATIVES </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/writer.png" alt="WRITERS"> </div>
                <div class="workTitle"> WRITERS </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/va.png" alt="VIRTUAL ASSISTANTS"> </div>
                <div class="workTitle"> VIRTUAL ASSISTANTS </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/md.png" alt="MOBILE DEVELOPERS"> </div>
                <div class="workTitle"> MOBILE DEVELOPERS </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/sme.png" alt="SALES MARKETING EXPERTS"> </div>
                <div class="workTitle"> SALES MARKETING EXPERTS </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 bgwhite">
                <div class="icon"> <img width="60" src="~/Content/images/aac.png" alt="ACCOUNTANTS AND CONSULTANTS"> </div>
                <div class="workTitle"> ACCOUNTANTS AND CONSULTANTS </div>
            </div>
        </div>
    </div>
</section>

<section class="catagory">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h3 class="secTitle"> Browse the Top ten Freelancers in each catagory </h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle">
                        C#
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle">
                        Data Entry
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"class="catTitle">
                        Logo Design
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle">
                        Graphic Design
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"class="catTitle">
                        Website Design
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle">
                        Mobile Phones
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> Translation </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> Software Development </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> HTML </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle"> PHP </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> Internet Maketing </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle"> Wordpress </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> Articles </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> SEO </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle"> CSS </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> Photoshop </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#"  class="catTitle"> Software Architecture </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle">
                        Excel
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="catBox">
                    <a href="#" class="catTitle"> Android </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="getStart">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="get"> <img src="~/Content/images/get.png" alt="Get Started"></div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="desc">
                    <div class="descTitle"> Getting started </div>
                    <div class="desc">
                        It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a
                        reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                    <a href="#" class="btnRead"> Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12"> <h3 class="secTitle"> Connects the Top 5% of Tech Designers <br> and Developers </h3> </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 ">

                <form class="Connects">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Your Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="send"> Send Message <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>



<script>
    $(".catTitle").click(function () {
        
        var username = '@Session[PS.HireRocks.Web.Helpers.SessionNameConstants.LogedInUserSession]';
        var text = $(this).text();
     
         if (username != "") {
            var url = '@Url.Action("FindJobs", "FindAndApplyJob")?text='+ text.trim();
            window.location.href = url;
        }
        else {
             var url = '@Url.Action("Login", "Account")?text='+ text.trim();
            window.location.href = url;
        }
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/homePage")
}


