<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2908" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.23" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.23" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.23" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.23" targetFramework="net45" />
</packages>