<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AOSDataBase" connectionString="Url = http://192.169.235.121:84/RavenService; Database = PSTrackerDB" />
    <add name="Storage" connectionString="http://192.169.235.121:84/RavenService/databases/PSTrackerDB/static/" />
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
  <appSettings>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=eqosoft;AccountKey=Srmglqb60rRYoR+S4jc4kykBST46kHP8oduvBuJERoDCXZNS9LWbQ1LduWohzXiUNICNOqq8vp60amx9P8Ne9A==" />
    <add key="AttachmentsContainer" value="attachmentsoutput" />
    <add key="NotificationServer" value="http://192.169.235.121:84/PSService" />
    <add key="TimeInterval" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActivityOptimizationSystemService" />
        <binding name="BasicHttpBinding_IActivityOptimizationSystemWithWorksnapsService" />
        <binding name="BasicHttpBinding_IActivityVerificationService" />
        <binding name="BasicHttpBinding_IBackupService" />
        <binding name="BasicHttpBinding_IDataEntryService" />
        <binding name="BasicHttpBinding_IInitializationService" />
        <binding name="BasicHttpBinding_IMediaElementService" />
        <binding name="BasicHttpBinding_IWalletService" />
        <binding name="BasicHttpBinding_IResourceTypeService" />
        <binding name="BasicHttpBinding_IResourceCategoryService" />
        <binding name="BasicHttpBinding_IResourcesService" />
        <binding name="BasicHttpBinding_IQSpacesService" />
        <binding name="BasicHttpBinding_ITasksService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityOptimizationSystemService"
        contract="PSServiceReference.IActivityOptimizationSystemService"
        name="BasicHttpBinding_IActivityOptimizationSystemService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityOptimizationSystemWithWorksnapsService"
        contract="PSServiceReference.IActivityOptimizationSystemWithWorksnapsService"
        name="BasicHttpBinding_IActivityOptimizationSystemWithWorksnapsService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityVerificationService"
        contract="PSServiceReference.IActivityVerificationService" name="BasicHttpBinding_IActivityVerificationService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackupService"
        contract="PSServiceReference.IBackupService" name="BasicHttpBinding_IBackupService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataEntryService"
        contract="PSServiceReference.IDataEntryService" name="BasicHttpBinding_IDataEntryService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInitializationService"
        contract="PSServiceReference.IInitializationService" name="BasicHttpBinding_IInitializationService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaElementService"
        contract="PSServiceReference.IMediaElementService" name="BasicHttpBinding_IMediaElementService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWalletService"
        contract="PSServiceReference.IWalletService" name="BasicHttpBinding_IWalletService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceTypeService"
        contract="PSServiceReference.IResourceTypeService" name="BasicHttpBinding_IResourceTypeService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceCategoryService"
        contract="PSServiceReference.IResourceCategoryService" name="BasicHttpBinding_IResourceCategoryService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourcesService"
        contract="PSServiceReference.IResourcesService" name="BasicHttpBinding_IResourcesService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQSpacesService"
        contract="PSServiceReference.IQSpacesService" name="BasicHttpBinding_IQSpacesService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITasksService"
        contract="PSServiceReference.ITasksService" name="BasicHttpBinding_ITasksService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Raven.Database" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>