<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CCForAssignActivity" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="BCCForAssignActivity" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>


  <CCForAssignActivity>
    <add key="nisha@perceptsystems.com" value="CC" />
    <add key="sanchit@perceptsystems.com" value="CC" />
  </CCForAssignActivity>
  <BCCForAssignActivity>
     <add key="avtar@perceptsystems.com" value="BCC" />
  </BCCForAssignActivity>
  
  <appSettings>
    <add key="OnTimeUrl" value="https://eqosofttest.axosoft.com/" />
    <add key="ClientId" value="eb8265e8-32a3-4002-98a6-63260c0e835a" />
    <add key="ClientSecret" value="651ee02f-5e64-47af-89ce-562320ab65ee" />
    <!--<add key="StorageAccount" value="UseDevelopmentStorage=true" />-->
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=eqosoft;AccountKey=Srmglqb60rRYoR+S4jc4kykBST46kHP8oduvBuJERoDCXZNS9LWbQ1LduWohzXiUNICNOqq8vp60amx9P8Ne9A==" />
    <add key="AttachmentsContainer" value="attachments" />
    <!--<add key="OnTimeUrl" value="https://eqosofttest.ontimenow.com/" />
    <add key="ClientId" value="dfd93cdf-b1fa-4992-93fa-f12334acce36" />
    <add key="ClientSecret" value="0f53fc44-da8a-481c-aecc-7d79bcaec302" />-->
    <!--<add key="NotificationServer" value="http://ams1-dev.azurewebsites.net//" />-->
    <add key="NotificationServer" value="http://192.169.235.121:84/PSService" />

    <add key="Storage" value="http://192.169.235.121:84/RavenService/databases/PSTrackerDB/static/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Raven/AnonymousAccess" value="All" />
    <add key="Username" value="abc"/>
    <add key="Password"  value="abc"/>
    <add key="BaseAddress"  value="http://192.169.235.121:84"/>
  </appSettings>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActivityOptimizationSystemService" />
        <binding name="BasicHttpBinding_IActivityOptimizationSystemWithWorksnapsService" />
        <binding name="BasicHttpBinding_IActivityVerificationService" />
        <binding name="BasicHttpBinding_IBackupService" />
        <binding name="BasicHttpBinding_IDataEntryService" />
        <binding name="BasicHttpBinding_IInitializationService" />
        <binding name="BasicHttpBinding_IMediaElementService" />
        <binding name="BasicHttpBinding_IWalletService" />
        <binding name="BasicHttpBinding_IResourceTypeService" />
        <binding name="BasicHttpBinding_IResourceCategoryService" />
        <binding name="BasicHttpBinding_IResourcesService" />
        <binding name="BasicHttpBinding_IQSpacesService" />
        <binding name="BasicHttpBinding_ITasksService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityOptimizationSystemService"
        contract="PSServiceReference.IActivityOptimizationSystemService"
        name="BasicHttpBinding_IActivityOptimizationSystemService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityOptimizationSystemWithWorksnapsService"
        contract="PSServiceReference.IActivityOptimizationSystemWithWorksnapsService"
        name="BasicHttpBinding_IActivityOptimizationSystemWithWorksnapsService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityVerificationService"
        contract="PSServiceReference.IActivityVerificationService" name="BasicHttpBinding_IActivityVerificationService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackupService"
        contract="PSServiceReference.IBackupService" name="BasicHttpBinding_IBackupService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataEntryService"
        contract="PSServiceReference.IDataEntryService" name="BasicHttpBinding_IDataEntryService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInitializationService"
        contract="PSServiceReference.IInitializationService" name="BasicHttpBinding_IInitializationService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaElementService"
        contract="PSServiceReference.IMediaElementService" name="BasicHttpBinding_IMediaElementService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWalletService"
        contract="PSServiceReference.IWalletService" name="BasicHttpBinding_IWalletService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceTypeService"
        contract="PSServiceReference.IResourceTypeService" name="BasicHttpBinding_IResourceTypeService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceCategoryService"
        contract="PSServiceReference.IResourceCategoryService" name="BasicHttpBinding_IResourceCategoryService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourcesService"
        contract="PSServiceReference.IResourcesService" name="BasicHttpBinding_IResourcesService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQSpacesService"
        contract="PSServiceReference.IQSpacesService" name="BasicHttpBinding_IQSpacesService" />
      <endpoint address="http://192.169.235.121:84/PSService/Services/PSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITasksService"
        contract="PSServiceReference.ITasksService" name="BasicHttpBinding_ITasksService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>