USE [HireRocks_Dev]
GO
/****** Object:  StoredProcedure [dbo].[GetContractForWorker]    Script Date: 02/01/2016 15:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetContractForWorker]
	@WorkerId nvarchar(128)
AS
BEGIN	
	SET NOCOUNT ON;
END
GO
